body{
    position: relative;
    margin: auto; 
    width: 1600px;
    height: 2500px;
    background: #e7d3d3;
    border: 1px;
    border-color: blue;
    font-family: Roboto;
  }
  .block1{
    display: flex;
    justify-content: space-around;
    position: absolute; 
    width: 100%;
    max-width: 1170px; 
    height: 80px; 
    background-color: #ffffff;
    margin: center;
    text-align: center;
    align-items: center;
  }
  .web {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
  .studio {
    color: #000000;  
  }
  .menu {
    display: flex;
    /*justify-content: space-around;*/
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }
  a {
    color: #212121;
    margin: 0 25px 0 25px;
    text-decoration: none; 
  }
  a:hover{
    color: #2196F3;
  }
  .grey {
    color: #757575;
  }
  .center1 {
    position: absolute;
    width: 1600px;
    height: 600px;
    /*left: 0px;*/
    top: 80px;
    background: #2F303A;
    font-style: normal; 
    font-weight: 900; 
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    color: #FFFFFF;
    margin: auto;
    
  }